.video_wrapper {
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
  justify-content: flex-end;
  min-height: 700px;
  overflow: hidden;
  position: relative;
  width: 100%;
  border-radius: 45px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px,
    rgba(17, 17, 26, 0.1) 0px 24px 80px;

  .video {
    height: 100%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    width: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  .play_button_container {
    position: absolute;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    padding-bottom: 1.5rem;
  }

  /* The time controls section */

  .video_controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0 2rem;
    background: rgba(0, 0, 0, 0.3);

    .video_controls_progress {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;

      .video_controls_progress_time {
        margin: 0 1rem;
        color: white;
      }
    }

    .video_controls_buttons {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 1rem;
    }
  }
}
