html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}
.googlebtn{
  background-color: #fff;
    border: 1px solid #d0d0d0!important;
    border-radius: 7px!important;
    box-shadow: none!important;
    cursor: pointer;
    height: 40px;
    position: relative;
    text-align: center;
    width: 141%;
    z-index: 2
}
.googleIcon{
  color: red;
}
.faGoogle{
  background: 
  linear-gradient(to bottom left,transparent 49%,#fbbc05 50%) 0 25%/48% 40%,
  linear-gradient(to top    left,transparent 49%,#fbbc05 50%) 0 75%/48% 40%,

  linear-gradient(-40deg ,transparent 53%,#ea4335 54%),
  linear-gradient( 45deg ,transparent 46%,#4285f4 48%),
  #34a853;
background-repeat:no-repeat;
-webkit-background-clip: text;
background-clip: text;
color: transparent;
-webkit-text-fill-color: transparent;
}