@keyframes growMoreAnim {
  from {
    flex-grow: 1;
  }
  to {
    flex-grow: 5;
  }
}

@keyframes growLessAnim {
  from {
    flex-grow: 5;
  }
  to {
    flex-grow: 1;
  }
}

.outerContainer {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;

  .innerContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .checkpoint {
      display: flex;
      width: 2vh;
      height: 2vh;
      background: red;
      border-radius: 50%;
      z-index: 1;
    }
  }

  .atStart {
    justify-content: flex-start;
  }

  .atEnd {
    justify-content: flex-end;
  }

  .growMore {
    animation: growMoreAnim 1.5s linear 0s 1 normal forwards;
  }

  .growLess {
    animation: growLessAnim 1.5s linear 0s 1 normal forwards;
  }
}

.line {
  display: flex;
  justify-content: center;
  height: auto;
  position: relative;
  z-index: 0;
}
